*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conntainer{
    box-shadow: rgba(0, 0, 0, 0.16)   0px 1px 4px;
}

.conntainer h1{
    text-align: center;
    padding: 15px 0;
    background: greenyellow;
    color: #fff;

}

.shop{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
}

.shop .item{
    flex: 45%;
    box-shadow: rgba(0, 0, 0, 0.16)   0px 1px 4px;
    padding: 30px;
}
.shop .item h2{
    text-transform: capitalize;
}
.shop .item p{
    padding: 10px 0;
}
.shop .item span{
    color: green;
}

.shop .item button {
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(45, 184, 45);
    color: white;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}

.shop .item button:hover{
    background: transparent;
    color: blue;
}

.cartSection{
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
    background: #08935b;
    height: 100vh;
    width: 350px;
    color: white;
}

.cartSection .cartitem{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid ;
    padding: 5px;
}

.cartSection .cartitem button{
    background: rgb(134, 10, 10);
    color: white;
    padding: 5px;
    outline: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.cartSection .cartitem button:hover{
    background: transparent;
    color: black;
}

.totalprice{
    padding: 15px 0;
    font-size: 22px;
    
}



















